/*---------------- Main Section*/
h1{
    text-align: center;
}
nav div {
    
    position: fixed;
    width: 100%;
    top: 0;
    display:block;
    
}


nav img{ 
    background-color: transparent;
    margin-left: 20px;
    height: 60px;
    overflow: hidden;
    background-color: transparent;
    border-radius: 50%;
    border: solid 1px;
    margin-top: 5px;
    color: black;
    
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.nav_links{
    
    margin-right: 40px;
    float: right;
    list-style: none;
    text-decoration: none;
    
}
.nav_links li{
    border: solid 1px;
    padding: 5px;
    border-radius: 15px;
    font-size: 140%;
    padding: 5px;  
    
}
main{
    padding-bottom: 5%;
    font-family: arial;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e0e0e0;
    background-attachment: fixed;
    background-image: linear-gradient(white, #e6902a);
    text-shadow: 1px 1px #9f5c5c;
        
    
}
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.face{
    margin-top: 30px;
    height: 300px;
    width: 300px;
    height: 160px;     
    margin-bottom: 12px;
    transform:scale(1.5);
    overflow: hidden;
    z-index: 1;
}
.deep{
    box-shadow: 5px 5px #9f5c5c;
    z-index: 5;
    
}
/*-----------------Skills section*/
.my_skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 110%;
    text-align: center;
    padding: 5%;
    
    
}
.my_skills p{
   font-size: 130%; 
    
}
.my_skills h1{
    font-size: 200%
}
.skills_container{
    
    display:flex;
    justify-content: center;
}

.discription{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    border: solid 5px;
    border-radius: 15px;
    padding: 10px;
    padding-top: 15px;
    width: 20%;
    
}
.discription p{
    text-align: center;
    
    
}
.discription img{
    padding: 5px;
    border: solid 2px;
    border-radius: 10px;
    height: 50px;    
}
/*---------------------------Example section*/
.works{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(white, #e6902a);
}
.work_header{
    font-size: 160%;
    
}
.work_exapmle{
    display: flex;
    flex-direction: column;
}

.work_figure img{    
    width: 400px;
    border: 3px solid;
    border-radius: 10px;
    padding: 3px;
    height: 200px;
}
.work_figure{
    display: flex; 
       
}
.work_contact{    
    margin-top: 15px;
    border: 3px solid;
    padding: 10px 105px;
    border-radius: 10px;    
}
.work_contact h2{
    padding: 0;
    font-size: 180%;
    line-height: 0;
}